body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .images {
      z-index: 0;
      opacity: 0.6;
  }
  
  #image1 {
      position: absolute;
      margin-left: -86vw;
      margin-top: -62vh;
  }
  
  #image2 {
      position: absolute;
      margin-left: -105vw;
      margin-top: 70vh;
  }
  
  #image3 {
      position: absolute;
      margin-left: -12vw;
      margin-top: 106vh;
  }
  
  #image4 {
      position: absolute;
      margin-right: -87vw;
      margin-top: 81vh;
  }
  
  #image5 {
      position: absolute;
      margin-left: 56vw;
      margin-top: -99vh;
  }

  #home.dark-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
    text-align: center;
    color: White;
    background-color: black;
    transition: background-color 0.5s ease-in;
  }

   #home.light-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
    text-align: center;
    color: black;
    background-color: white;
    transition: background-color 0.5s ease-in;
  }
  
  #home h1 {
    font-size: 3em;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s, transform 1s;
  }
  
  #home h1.animate {
    opacity: 1;
    transform: translateY(0);
  }


header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.8s;
  box-sizing: border-box;
  color: white;
  transition: background-color 0.5s ease-in;
}

header.light-mode {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.8s;
  box-sizing: border-box;
  color: black;
  transition: background-color 0.5s ease-in;
}

.header .dark-mode .scrolled {
  background: rgba(0, 0, 0, 1);
}

.dark-mode .header.scrolled .light-mode {
  background: rgba(255, 255, 255, 1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex: 2;
  margin: 0;
}

.a-link {
  text-decoration: none;
}

.dark-mode .a-link:visited{
  text-decoration: none;
  padding: 0 1em;
  color: white;
  text-decoration: none;
}

.light-mode .a-link:visited{
  text-decoration: none;
  padding: 0 1em;
  color: black;
  text-decoration: none;
}

.dark-mode .startButton{
  padding: 2vh;
  max-width: 100px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  flex: 1;
  text-align: center;
  border-radius: 15px;
}

.light-mode .startButton {
  padding: 2vh;
  max-width: 100px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  flex: 1;
  text-align: center;
  border-radius: 15px;
}

.dark-mode .startButton:hover {
  background-color: #bababa;
}
.light-mode .startButton:hover {
  background-color: rgb(66, 66, 66);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px auto;
  transition: all 0.7s ease;
}

#features.dark-mode {
    background-color: black;
    color: white;
    /* position: relative; */
    z-index: 100;
}

/* .light-mode  #features{
  background-color: black;
  color: white;
  position: relative;
  z-index: 100;
} */

.section {
    padding: 10vh;
    text-align: center;
    position: relative;
  }

#gallery {
    background-color: black;
    color: white;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

#gallery.light-mode {
  background-color: white;
  color: black;
}
  
#gallery h2 {
    margin-right: 23vh;
}
  
  .gallery-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin-right: 23vh;
  }
  
  .gallery-card {
    margin: 1vh;
    box-shadow: 3px 3px 10px rgb(255, 255, 255, 1);
  }


  #gallery-image1-content:hover, #gallery-image2-content:hover, #gallery-image3-content:hover, #gallery-image4-content:hover, #gallery-image5-content:hover,
  #gallery-image6-content:hover, #gallery-image7-content:hover, #gallery-image8-content:hover, #gallery-image9-content:hover, #gallery-image10-content:hover, 
  #gallery-image11-content:hover, #gallery-image12-content:hover, #gallery-image13-content:hover, #gallery-image14-content:hover, #gallery-image15-content:hover {
    width: 330px;
    height: 220px;
  }
  

   #portfolio {
    background-color: black;
    color: white;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content:center;
  }

  #portfolio.light-mode {
    background-color: white;
    color: black;
  }
  
.column {
    display: flex;
    flex-direction: column;
}

.portfolio-text{
    margin-left: -70vh;
    margin-right: 10vh;
  }
  
  .portfolio-items {
    position: relative;
    height: 350px;
  }
  
.images1 {
    position: absolute;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
.images1 img {
    height: auto;
  }
  
.images1.visible {
    opacity: 1;
    transform: translateY(0);
  }

#image1-portfolio {
    margin-left: 200px;
    margin-top: 150px;
}

#image3-portfolio {
    margin-left: 120px;
}

#image2-portfolio {
    margin-left: 20px;
    margin-top: 45px;
}


  footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
  }

  footer.light-mode {
    background-color: white;
    color: black;
  }



.hamburger {
  display: none;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px auto;
  transition: all 0.7s ease;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 4vh;
  margin-left: 1vw;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3vh;
  width: 3vh;
  left: 4px;
  bottom: 4px;
  background-color: antiquewhite;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(34, 34, 34);
}

input:checked + .slider:before {
  transform: translateX(2vw);
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @media (max-width: 1090px) {
    #home h1 {
      font-size: 50px;
    }

    .images {
        height: 50px;
        width: 100px;
    }
  
 
  }
  
  @media (max-width: 768px) {

    .switch {
      display: none;
    }

    .links {
      display: none;
    }
  
    .links.active {
      animation: fade-in 0.5s forwards;
      height: 30vh;
      background-color: black;
      padding: 2vh;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  
    .hamburger {
      display: flex;
    }
  
    nav ul.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
    }
  

    #portfolio {
        font-size: 1vh;
    }

    .portfolio-item {
        height: 50px;
        width: 100px;
    }
  
    #home h1 {
      font-size: 30px;
    }
  
    .gallery-card,
    .portfolio-item {
      flex: 1 1 100%;
    }
  }

